<html>
  <head>
    <title>Heaven Daos</title>
  </head>
  <body>
    <h1>Heaven Daos</h1>
    <article id="Chusen" name="Chusen">Chusen</article>
    <article id="Apotheosis" name="Apotheosis">Apotheosis</article>
    <article id="MP" name="Martial Peak">Martial Peak</article>
    <article id="TDG" name="TDG">Tales of Demons and Gods</article>
    <article id="SMG" name="SMG">Star Martial God</article>
    <article id="DQ" name="DQ">
      <a href="localhost:8000/demonqueen/">Demon Queen</a>
    </article>
  </body>
</html>
