<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ novel.novel_name }}</title>
    <meta name="description" content="The best and most exciting cultivation martial art light novels.">
    <meta name="keywords" content="cultivation,light novels,novels,martial art,daos,3000daos,realm,tales,demon,demons,god,gods,monster,monsters,dragon,emperor,human,humans">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container p-3 my-3 border">
      <h1>{{ novel.novel_name }}</h1>
      <p>&nbsp;</p>
      {% if novel %}
        <ul>
          {% for chapter in novel.chapter_set.all %}
            <li><a href="/{{ novel.slug }}/{{ chapter.chapter_name }}">{{ chapter.chapter_name }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>This novel is being translated.</p>
      {% endif %}
    </div>
  </body>
</html>
