{% extends "novels/base.html" %}
{% block head %}
  <title>Immortal Mansion - About</title>
{% endblock head %}

{% block content %}
    <p>&nbsp;</p>
    <p>
      Immortal Mansion was built by Immortal NN :))
      <br><br>
      <i>*spoiler*</i>
      <br>
      <i>In a novel that I read before, Immortal Mansion was built by a Saint.
      I'm not a Saint yet.
      <br>
      Just an immortal reader, like you :)
      </i>
    </p>
    <br>
    <p>Github page:
      <strong>https://github.com/sanjoseappvalley/django-novel-site</strong>
    </p>
{% endblock content %}
