{% extends "novels/base.html" %}
{% block head %}
  <title>Immortal Mansion - About</title>
{% endblock head %}

{% block content %}
    <p>&nbsp;</p>
    <p>
      Immortal Mansion was built by Immortal NN :))
      <br><br>
      <i>*spoiler*</i>
      <br>
      <i>In a novel that I read before, Immortal Mansion was built by a Saint.
      I'm definitely not a Saint.
      <br>
      but I could be an immortal reader, and you probably are too :)
      </i>
    </p>
    <br>
    <p>Github page:
      <strong>https://github.com/sanjoseappvalley?tab=repositories</strong>
    </p>
{% endblock content %}
