{% extends "novels/base.html" %}
{% block head %}
  <title>Immortal Mansion - About</title>
{% endblock head %}

{% block content %}
    <p>&nbsp;</p>
    <p>
      Immortal Mansion was built by NN.
      <br><br>
      <i>In a novel that I read before, Immortal Mansion was built by a Saint.
      I'm definitely not a Saint. I could just be an immortal reader :)
      </i>
      <br><br>
      <strong>
        This website is by no mean as a money making site, or not yet, but instead of making a blog, I'd rather make
        this  novel type of site because I enjoy reading light novels. And here I get to make up my own
        novels, express all the plots that I have accumulated after reading so many and what I think could be more interesting.
      </strong>
      <br><br>
      This website was made based on the Test Driven Development approach.
    </p>
    <p>My Github page:
      <strong>https://github.com/sanjoseappvalley?tab=repositories</strong>
      <br><br>
      Employers please take a look of what I can do and contribute to your company :)
      Feel free to contact me at nicknguyen0506@gmail.com
    </p>
{% endblock content %}
