{% extends "novels/base.html" %}
{% load crispy_forms_tags %}
{% block head %}
  <title>Immortal Mansion - Register</title>
{% endblock head %}

{% block content %}
  <p>&nbsp;</p>
  <div class="content-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit" name="button">Register</button>
          </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">Already have an account? <a class="ml-2" href="#">Sign In</a></small>
      </div>
  </div>
{% endblock content %}
